<!-- hostorial visitas view --------- -->

<div class="d-flex align-items-center gap-2">
    <h2 class="ps-2 flex-fill">Historial de Visitas</h2>

    <!-- Barra de búsqueda -->
    <div class="col-4 h-75 align-middle d-flex">
        <input id="visitaSearchInput" class="form-control mr-sm-2" type="search" placeholder="Buscar Visita por ID"
            aria-label="Search" />
        <button id="visita_btn-search" class="btn btn-outline-dark my-2 my-sm-0" type="button">
            Search
        </button>
    </div>

    <!-- Botón para añadir una nueva visita -->
    <button type="button" class="btn btn-info h-75" data-bs-toggle="modal" data-bs-target="#newVisitModal"
        data-bs-whatever="@getbootstrap">
        Añadir Visita
    </button>

</div>

    <!-- Modal para añadir una nueva visita -->
    <div class="modal fade" id="newVisitModal" tabindex="-1" aria-labelledby="newVisitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newVisitModalLabel">
                        Nueva Visita
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="visit-form">
                        <div class="mb-3">
                            <label for="fecha_visita" class="col-form-label">Fecha:</label>
                            <input type="date" class="form-control" id="fecha_visita" />
                        </div>
                        <div class="mb-3">
                            <label for="tipo_visita" class="col-form-label">Tipo:</label>
                            <input type="text" class="form-control" id="tipo_visita" />
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="col-form-label">Descripción:</label>
                            <textarea class="form-control" id="descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="clienteCC_select_input" class="col-form-label">CC Técnico:</label>

                            <select class="form-select" id="clienteCC_select_input" required
                                aria-label="clienteCC_select_input">
                                <option value="">Seleciona un usuario
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="clienteProducto" class="col-form-label">ID Producto:</label>

                            <select class="form-select" id="clienteProducto" required aria-label="clienteProduct">
                                <option value="">seleccione un producto
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="cuentaClienteSelect" class="col-form-label">Número Cuenta Cliente:</label>

                            <select class="form-select" id="cuentaClienteSelect" required
                                aria-label="cuentaClienteSelect">
                                <option value="">Seleciona una cuenta
                                </option>
                            </select>

                        </div>
                        <button type="submit" id="agregar-visita" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ------------------------modal para editar visita ----------------- -->

<div class="modal fade" id="editVisitModal" tabindex="-1" aria-labelledby="editVisitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editVisitModalLabel">Editar Visita</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-visit-form">
                    <div class="mb-3">
                        <label for="edit_fecha_visita" class="col-form-label">Fecha:</label>
                        <input type="date" class="form-control" id="edit_fecha_visita" />
                    </div>
                    <div class="mb-3">
                        <label for="edit_tipo_visita" class="col-form-label">Tipo:</label>
                        <input type="text" class="form-control" id="edit_tipo_visita" />
                    </div>
                    <div class="mb-3">
                        <label for="edit_descripcion" class="col-form-label">Descripción:</label>
                        <textarea class="form-control" id="edit_descripcion"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="edit_clienteCC_select_input" class="col-form-label">CC Técnico:</label>
                        <select class="form-select" id="edit_clienteCC_select_input" required aria-label="edit_clienteCC_select_input">
                            <option value="">Seleciona un usuario</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit_clienteProducto" class="col-form-label">ID Producto:</label>
                        <select class="form-select" id="edit_clienteProducto" required aria-label="edit_clienteProduct">
                            <option value="">seleccione un producto</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit_cuentaClienteSelect" class="col-form-label">Número Cuenta Cliente:</label>
                        <select class="form-select" id="edit_cuentaClienteSelect" required aria-label="edit_cuentaClienteSelect">
                            <option value="">Seleciona una cuenta</option>
                        </select>
                    </div>
                    <button type="submit" id="update-visita" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ---------------------modal mostrar visita por id ----------------- -->
<div class="modal fade" id="visitaDetailsModal" tabindex="-1" aria-labelledby="visitaDetailsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="visitaDetailsModalLabel">Detalles del Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="visita-details-content">
                    <!-- Aquí se mostrarán los detalles del producto -->
                </div>
            </div>
        </div>
    </div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="recent-visits-tab" data-bs-toggle="tab" data-bs-target="#recent-visits"
            type="button" role="tab" aria-controls="recent-visits" aria-selected="true">
            Visitas Recientes
        </button>
    </li>
</ul>

<!-- Tab panels -->
<div class="tab-content">
    <div class="tab-pane active" id="recent-visits" role="tabpanel" aria-labelledby="recent-visits-tab">

        <table class="table table-striped table-sm text-center">
            <thead>
                <tr class="text-justify">
                    <th scope="col">ID Visita</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">CC Usuario</th>
                    <th scope="col">ID Producto</th>
                    <th scope="col">Número Cuenta Cliente</th>
                </tr>
            </thead>
            <tbody id="tablaBody_V">

            </tbody>
        </table>
    </div>
</div>