<!-- home -->
<!-- contendor -->

<!-- aside -->
<div class="grid-aside border-right">
  <ul class="list-group list-group-flush list-group-item-action text-center">
    <a href="#/inventario" class="nav-link list-group-item list-group-item-action" aria-current="true">
      Inventario
    </a>
    <a href="#/h_visita_tecnica" class="nav-link list-group-item list-group-item-action" aria-current="true">Historial
      visitas</a>
    <a href="#/admUsuarios" class="nav-link list-group-item list-group-item-action disabled">Administrar usuarios</a>
  </ul>
</div>



<!-- barra usuario -->
<div class="grid-user mt-2 d-flex align-items-center col-12 align-middle">


  <div class="dropdown d-flex flex-fill col-2 align-items-center">
    <img src="../media/img/user.svg" width="45px" height="45px" class="ms-2 img-thumbnail rounded-circle" alt="profile" />
    <button class="btn btn-outline-dark dropdown-toggle h-75" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      User
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="">cerrar sesión</a></li>
    </ul>
  </div>
</div>

<!-- contenedor del inventario y elementos principales de la base de datos -->
<div id="contenidoDinamico" class="grid-main border h-100">

  

</div>
<div id="liveAlertPlaceholder">
  <!-- <div class="alert  alert-dismissible" role="alert">
     <div>mensaje</div>
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->
</div>
