
    <div class="img-container">
        <!-- <img src="Media/Logo Inventario.png" alt="Logo de la empresa" width="100px" > -->
    </div>
    <div>
        <form id="login-form" class="form-control">
            <div class="mb-2">
                <label for="usuario" class="form-label">Nombre de usuario o correo electrónico</label>
                <input id="usuario" class="form-control" type="email" placeholder="Example@gmail.com" />
                <!--Para indicar que debe hacer el Usuario-->
            </div>
            <div class="mb-2">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="contrasena" id="contrasena" class="form-control" placeholder="Ingresa la contraseña" />
            </div>
            <div class="d-flex flex-column mt-3">
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Recuérdame</label>
                </div>
                <button type="button" id="btnLogin" class="btn btn-primary btn-lg mb-2">
                    Acceder
                </button>
            </div>
        </form>
    </div>
