@import "bootstrap/scss/bootstrap";

.container {
  display: grid;
  grid-template-columns: 0.3fr 1.8fr;
  grid-template-rows:  0.2fr 0.3fr 3.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    // "brandin brandin"
    "user user"
    "aside main";
}

.grid-aside {
  grid-area: aside;
}

.grid-user {
  grid-area: user;
}


.grid-main {
  grid-area: main;
}

// .grid-thumbnail {
//   grid-area: thumbnail;
// }

// .grid-brandin {
//   grid-area: brandin;
// }

// .grid-actions {
//   grid-area: actions;
// }


/* ----------------- login -----------------*/
.img-container {
  width: 150px;
  // /Altura/
  height: 150px;
  // /50% para un circulo y px solo puntas y para cada punta individual 10px 5px 0 20px se lee izquierda primero de arriba en sentido de un reloj/
  background-image: url(media/img/sort-logo.svg);
  background-size: contain;
    // /Contain la imagen llena el contenido del elemento/
  background-repeat: no-repeat;
  // /Para que no se repita la imagen dentro del contenedor/
  background-position: center;
  // /Para centrar la imagen/
}


.login-container {
  display: flex;
  // /Ubicar objetos de un contenedor/
  flex-direction: column;
  // /Indicar a que dirección se quiere el contenedor/
  align-items: center;
  // /Centrar contenedor/
  height: 100vh;
  justify-content: center;
}