@import "bootstrap/scss/bootstrap";

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.8fr;
  grid-template-rows: 0.2fr  3.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    // "brandin brandin"

    "user user"
    "aside main";
}

.grid-aside {
  grid-area: aside;
  
}

.grid-user {
  grid-area: user;
}

.grid-main {
  grid-area: main;
}

// .grid-thumbnail {
//   grid-area: thumbnail;
// }

// .grid-brandin {
//   grid-area: brandin;
// }

// .grid-actions {
//   grid-area: actions;
// }

/* ----------------- login -----------------*/
.img-container {
  width: 150px;
  // /Altura/
  height: 150px;
  // /50% para un circulo y px solo puntas y para cada punta individual 10px 5px 0 20px se lee izquierda primero de arriba en sentido de un reloj/
  background-image: url(media/img/sort-logo.svg);
  background-size: contain;
  // /Contain la imagen llena el contenido del elemento/
  background-repeat: no-repeat;
  // /Para que no se repita la imagen dentro del contenedor/
  background-position: center;
  // /Para centrar la imagen/
}

.login-container {
  display: flex;
  // /Ubicar objetos de un contenedor/
  flex-direction: column;
  // /Indicar a que dirección se quiere el contenedor/
  align-items: center;
  // /Centrar contenedor/
  height: 100vh;
  justify-content: center;
}


.list-group-item  {
  white-space: nowrap;
}


.fade-in-out {
  animation: fadeInOut 0.5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#overflow-container {
  overflow-y:auto ;
  max-height: 90vh;
}

body {
  overflow: hidden;
}
// .hide {
//   display: none;
// }

.modal {
  z-index: 3;
}
.modal-backdrop{
  z-index: -2;
  background-color: #fff;
}

// body {
//   overflow-x: hidden;
// }

table .btn_edit, .btn_edit_visita, .btn_edit_user, .btn_edit_empresa{
  width:25px;
  height: 25px;
  background-image: url(./media/static/edit.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

table .btn_delete {
  width:25px;
  height: 25px;
  background-image: url(./media/static/x-square.svg);
  background-size:  contain;
  background-repeat: no-repeat;
}

// contendor de alertas
#liveAlertPlaceholder {
  position: absolute;
  bottom: 25px;
  left: 20px;
}

.refresh-inventory{
  width: 25px;
  height: 25px;
  background-image: url(./media/static/refresh-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.refresh-inventory:hover{
  transform: scale(1.1); 
}



/* Estilos para evitar desbordamiento del contenido del modal */
body {
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 .h1-index {
  font-size: 3.5rem;
  color: #343a40;
  margin-bottom: 20px;
}
.index-p {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 40px;
  text-align: center;
}
.btn-index {
  background-color: #007bff;
  border-color: #007bff;
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn-index:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}